{%extends "common_page.html" %}
{% block content %}

<h1>Connexion</h1>
<form method="POST">
    {% csrf_token %}
    {{ form | linebreaks}}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    <input type="submit" class="btn" value="Se connecter"/>
</form>
{% endblock %}


