{%extends "common_page.html" %}
{% block content %}
        <div style="margin-left: 1%;padding: 1px 16px;height: 1000px;">
            <h1>Vous avez bien été déconnecté</h1></br>
            <button onclick="window.location.href='/concept'" >Retour à la page principale</button>
        </div>
{% endblock %}






