{%extends "common_page.html" %}
{% block content %}

<div class="col-sm-3 col-md-6 col-lg-4"></div>
<div class="col-sm-9 col-md-6 col-lg-8"></div>


<div class="card">
    <div class="card-body">
        <h1>Bienvenue {{profil.user.first_name}}</h1>
        <p> Inscrit le {{profil.user.date_joined | date:"d-m-Y à H:i"}}</p>

        <h3>Mes projet</h3>

        <ul class="list-group">
            {% for concept in concepts %}
            <li class="list-group-item"><a href="/concept/{{concept.id}}/">{{concept.title}}</a></li>
            {% endfor %}
        </ul>
        <a href="/concept/add-concept/" class="btn btn-primary stretched-link">Ajouter un projet</a>
        <div class="row">
            <div class="col-sm-3 col-md-6 col-lg-6">
                <h3>Mes dons </h3> <h5>Total: {{total}}</h5> <p>(en euro)</p>
                <ul class="list-group">
                    {% for donation in donations %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-3 col-md-6 col-lg-8">
                                {{donation.amount}}
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-4">
                                {{donation.date | date:"d-m-Y  H:i"}}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-6">
                <h3>Faire un don</h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form | linebreaks }}
                    <input class="btn btn-block" type="submit" value="Valider"/>
                </form>

            </div>
        </div>


    </div>
</div>
{% endblock %}