{%extends "common_page.html" %}
{% block content %}
<h1>Création d'un compte</h1>
<form class="creation_concept" action="" method="POST">
    {% csrf_token %}
    {{ form | linebreaks }}
    <input class="btn btn-block" type="submit" value="Valider"/>
</form>
{% endblock %}