{%extends "common_page.html" %}
{% block content %}
        <div style="margin-left: 1%;padding: 1px 16px;height: 1000px;">
            <h1>Vous avez bien été enregistré</h1></br>
            <button class="btn btn-block" onclick="window.location.href='/authentification'" >Connectez vous</button>
        </div>
{% endblock %}