<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<header>
    <nav class="navbar navbar-dark bg-success fixed-top">
        <a class="navbar-brand" href="/concept">
            <h1 style="color: white;">
                Green Planet
                <img src="{% static 'img/green_planet.png' %}" width="75" height="75" class="d-inline-block">
            </h1>
        </a>


        <ul class="navbar-nav">
            {% if user.is_authenticated %}


            <div class="d-flex flex-row">
                <div class="p-2">
                    <a class="btn btn-light" href="/profil" role="button">Mon espace</a>
                </div>
                <div class="p-2">
                    <a class="btn btn-light" href="/authentification/logout" role="button">Déconnexion</a>
                </div>
            </div>


            {% else %}

            <div class="d-flex flex-row">
                <div class="p-2">
                    <a class="btn btn-light" href="/authentification" role="button">Connexion</a>
                </div>
                <div class="p-2">
                    <a class="btn btn-light" href="/profil/registration" role="button">Créer un compte</a>
                </div>
            </div>
            {% endif %}
        </ul>
    </nav>
</header>


<!--Contenu principal-->

<div class="container">
    {% block content %}
</div>
{% endblock content %}

</body>
</html>

