{%extends "common_page.html" %}
{% block content %}

<h1>Ajouter un projet</h1>
<form method="POST">
    {% csrf_token %}
    {{form}}
    <br>
    <input type="submit" class="btn btn-primary"/>
</form>

{% endblock %}
