{%extends "common_page.html" %}
{% block content %}
<div class="card" xmlns="http://www.w3.org/1999/html">
    <div class="card-body">
        <h1>Projet : {{concept.title}}</h1>

        <h3>Coût estimé</h3>
        <p>{{concept.cost}}</p>

        <h3>Présentation</h3>
        <p>{{concept.description}}</p>

        <div class="row">
            <div class="col-sm-3 col-md-6 col-lg-6">
                <h4>Note</h4>
                <h6>{{score}}/5</h6>
            </div>
            {% if user.is_authenticated %}
            <div class="col-sm-3 col-md-6 col-lg-6">
                <h4>Evaluer</h4>
                <form method="POST">
                    {% csrf_token %}
                    {{form}}
                    <br>
                    <input type="submit" class="btn btn-primary"/>
                </form>
            </div>
            {% endif %}
        </div>

        {% if not user.is_authenticated %}
            <h6><a href="/authentification"> Connectez vous pour laisser une note</a></h6>
        {% endif %}


    </div>
</div>
{% endblock %}

