{%extends "common_page.html" %}
{% block content %}

<div>
    <h1>Liste des projets</h1>

    {% for concept in concepts %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{concept.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted"> Publié par : {{concept.owner.last_name}}</h6>
            <h6 class="card-subtitle mb-2 text-muted"> {{concept.lastModified | date:"d-m-Y à H:i"}}</h6>

            <p class="card-text">
                {{concept.description}}
            </p>
            <a href="/concept/{{concept.id}}/" class="btn btn-primary stretched-link">En savoir plus</a>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}